<br><br>
<div style="display: flex; justify-content: space-around; flex-wrap: wrap;">
    <!-- Pie Chart -->
    <div style="width: 40%; height: 500px;">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="pieChartOptions"
        style="width: 100%; height: 100%; display: block;"
      ></highcharts-chart>
    </div>
  
    <!-- Donut Chart -->
    <div style="width: 40%; height: 500px;">
      <highcharts-chart
        [Highcharts]="Highcharts"
        [options]="donutChartOptions"
        style="width: 100%; height: 100%; display: block;"
      ></highcharts-chart>
    </div>
</div><br><br>
<div>
    <!-- Spline Chart -->
    <div style="width: 100%; height: 600px;">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="splineChartOptions"
          style="width: 100%; height: 100%; display: block;"
        ></highcharts-chart>
      </div>
</div>